<h1 class="text-center">Buscar Noticia</h1>
<form  (ngSubmit)="validar()">
<div class="form-groups">
    <label for="exampleSelect1" class="form-label mt-4">Tipo Noticia</label>
    <select class="form-control form-control-lg" [(ngModel)]="categoriaselect" id="selectTipo" name="selectTipo">
      <option [value]="cada.valor" *ngFor="let cada of  categoria">{{cada.nombre}}</option>      
    </select>
  </div>
  <div class="form-groups">
    <label for="exampleSelect1" class="form-label mt-4">Pais</label>
    <select class="form-control  form-control-lg"
    [(ngModel)] ="paisriaselect"
    id="selectpais"  name="selectpais" >
      <option [value]="cada.valor" *ngFor="let cada of  pais">{{cada.nombre}}</option>      
    </select>
  </div>

  <button type="submit" class="btn btn-success btn-block btn-lg mt-4">Buscar</button>
</form>